<amplify-authenticator>
  <amplify-sign-up
    header-text="Criar uma nova conta"
    slot="sign-up"
    [formFields]="signUpFormFields"
    [submitButtonText]="'Criar conta'"
    [haveAccountText]="'Já tem uma conta?'"
  ></amplify-sign-up>
  <amplify-sign-in
    header-text="Entrar com sua conta"
    slot="sign-in"
    [formFields]="signInFormFields"
    [submitButtonText]="'Entrar'"
    (handleSubmit)="getUser()"
  ></amplify-sign-in>
  <amplify-forgot-password
    header-text="Esqueceu sua senha?"
    slot="forgot-password"
    [formFields]="forgotPasswordFormFields"
    [sendButtonText]="'Enviar código'"
  ></amplify-forgot-password>
  <div>
    <h3>Bem vindo, {{user?.username}}</h3>
    <amplify-sign-out></amplify-sign-out>
  </div>
  <!-- previous code -->
</amplify-authenticator>
